name: Docker

on:
  workflow_dispatch:
  schedule:
    # run every second morning
    - cron: '30 5 1/2 * *'

jobs:
  docker:
    runs-on: "ubuntu-latest"
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 # v3.8.0

    - name: Login to Github Packages
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        push: true
        tags: ghcr.io/voc/srtrelay/srtrelay:latest
    
    - name: Delete old containers
      uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
      with: 
        package-name: 'srtrelay/srtrelay'
        package-type: 'container'
        min-versions-to-keep: 10
        delete-only-untagged-versions: 'true'
